<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body bg-light">
            <div class="card-title text-center">
                <img src="./assets/wallet.png" width="100" height="100" class="d-inline-block align-top" alt="">
                <h3>Lenders Union</h3>
                <hr>
            </div>
            <form class="form-signin" [formGroup]="userLoginForm" (ngSubmit)="autheticateLogin(userLoginForm.value)">
              <div class='alert alert-danger text-center' *ngIf=firstAttemptMade>
                <strong>Incorrect username or password</strong>
              </div>
              <div class="form-label-group">
                <input type="text" id="inputEmail" class="form-control" placeholder="Username" autofocus formControlName="userName" disabled>
              </div>
              <br>
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" disabled>
              </div>
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="userLoginForm.invalid">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>